/*========================  首页 ===========================*/
/*首页促销商品*/
.ecjia-mod.ecjia-sales-model{
	height: 430px;
    overflow: hidden;
}
.ecjia-mod.ecjia-sales-model .ecjia-sales-hd h2{
	height:30px;
	border-bottom:1px solid #eee;
}
.ecjia-mod.ecjia-sales-model .more_info{
	line-height:20px;
	width:60px;
	font-size:16px;
	color:#ccc;
	float:right;
	padding-left:10px;
	border-left:1px solid #ccc;
}

.ecjia-index .form-group .input .icon-lock {
	background-color: #9ecc17;
}
.ecjia-index .form-group .input .icon-dengluyonghuming {
	background-color: #47aa4d;
}
.ecjia-index .ecjia-margin-t {
	margin-top: 1em;
}

/*========================  分类 ===========================*/


/*========================  购物车 ===========================*/


/*========================  结算 ===========================*/


/*========================  结算完成 ===========================*/


/*========================  我的 ===========================*/


/*========================  地址列表 ===========================*/


/*========================  账户余额 ===========================*/


/*========================  交易记录 ===========================*/


/*========================  红包 ===========================*/


/*========================  登录 ===========================*/


/*========================  搜索 ===========================*/


/*========================  商品详情 ===========================*/


/*========================  订单列表 ===========================*/


/*========================  订单详情 ===========================*/


/*========================  文章 ===========================*/


/*========================  红包 ===========================*/


/*========================  红包 ===========================*/
