@CHARSET "UTF-8";
/*==============  Add By Xwb   ================*/

/*============== 帮助中心  ================*/
.ecjia-article ul {
	background-color: #EFEFEF;	
}
.ecjia-article ul>span {
	font-size: 22px;
	font-weight: bold;
	margin-left: 1em;
	line-height: 2em;
	background-color: #EFEFEF;
}
.ecjia-article .list-one li {
	height: 3em;
	padding: 0 1em;
	line-height: 3em;
}
.ecjia-article .list-one li .form-group-text span {
	font-size: 22px;
	font-weight: bold;
}
.ecjia-article .list-one li .form-group-text i.icon-jiantou-right {
	padding-top: 0.9em;
}
/*============== 地址列表  ================*/
.ecjia-address-list {
	margin-top: 1em;
}
 .ecjia-address-list li  a i {
	position: absolute;
	right: 8em;
	top: 5em;
	font-size: 1.2em;
}
.ecjia-address-list li {
	position: relative;
	overflow: hidden;
}
.ecjia-address-list li a i.icon-delete {
	position: absolute;
	right: 1.5em;
}
.ecjia-address-list .form-group .input label {
	position: absolute;
	right: 0;
	top: 0;
	width: 2.4em;
	height: 2.4em;
	line-height: 2.4em;
	border-radius: 5px;
	text-align: center;
}
.ecjia-address-list .user-address-list .form-group span {
	padding-left: 0.6em;
	position: relative;
	font-weight: 400;
	font-size: 1em;
	color: #b2b2b2;
}
.ecjia-address-list .user-address-list .form-group p {
	padding-left: 1.5em;
	position: relative;
	font-size: 1em;
}
.ecjia-address-list .address-backgroundw {
	background-color: #FFF;
	border-bottom:  1px solid #ddd;
	position: relative;
	line-height: 3em;
	padding-left: 1em;
}
.ecjia-address-list .address-background-mylocation {
	background-color: #FFF;
	border-bottom:  1px solid #ddd;
	position: relative;
	line-height: 3em;
	padding-left: 1em;
}
.ecjia-address-list .nav-header {
	height: 3em;
	top: -1em;
}
.ecjia-address-list .address-backgroundw i.icon-jiantou-bottom {
	position: absolute;
	left: 4em;
	top: 1em;
}
.ecjia-address-list .address-backgroundw i.icon-search {
	position: absolute;
	left: 6em;
	top: 0.9em;
	z-index: 6;
}
.ecjia-address-list .nav-header i.icon-search {
	position: absolute;
	left: 1em;
	top: 0.7em;
	z-index: 6;
}
.ecjia-address-list .address-backgroundw input {
	position: absolute;
	left: 5.5em;
	top: 0.4em;
	height: 2em;
	width: 25em;
	border-radius: 10px;
	z-index: 5;
	padding-left: 1.6em;
	border: 1px solid #F0F0F0;
}
.ecjia-address-list .address-background-mylocation input {
	position: absolute;
	left: 1.5em;
	top: 0.4em;
	height: 2em;
	width: 32em;
	border-radius: 10px;
	z-index: 5;
	border: 1px solid #F0F0F0;
	text-align: center;
	background-color: #F0F0F0;
}
.ecjia-address-list .address-background-mylocation i {
	z-index: 8;
	left: 13.2em;
	top: -0.1em;
}
.ecjia-address-list .nav-header input {
	position: absolute;
	top: 0.4em;
	height: 2em;
	width: 34em;
	border-radius: 10px;
	z-index: 5;
	padding-left: 1.6em;
	margin-left: 0.3em;
	border: 1px solid #F0F0F0;
}
.ecjia-address-list .address-icons {
    position: relative;
    left: 1em;
}
.ecjia-address-list .nav-header a>i {
	position: absolute;
	color: green;
	left: 0.5em;
	top: 0.9em;
}
.ecjia-address-list li>i {
	position: absolute;
	top: 1.8em;
	color: green;
	font-size: 400;
}
.ecjia-address-list .ecjia-margin-b .list {
	padding-left: 2em;
	margin-top: 0em;
}
.ecjia-address-list .ecjia-margin-b .list .ecjia-margin-top {
	margin-top: 0.2em;
}
.ecjia-address-list .address-list-center {
	text-align: center;
	padding: 1em .5em;
	overflow: hidden;
	background: #fff;
	color: #333;
	position: relative;
	border-bottom:1px solid #ddd;	
}
.ecjia-address-list .address-list-center a>i {
	color: green;
}





